.pageWrapper {
  margin: unset;
  width: 100vw;
  height: 100vh;
  background-color: #f7f8f9;
  display: flex;
  flex-direction: column;
  position: relative;

  z-index: 0;
}

.pageContent {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 0;
}

.content {
  display: none;
  width: 100%;
  margin-top: 10rem;
  margin-left: 5%;
  margin-right: 2%;
  @include defaultFont;
  transform-origin: left;
  flex-direction: column;
  transition: all 300ms ease-in-out;

  &--active {
    display: flex !important;
  }
}

.row {
  display: flex;
}

.contentHeader {
  display: flex;

  &__title {
    margin-right: auto;
    letter-spacing: .1rem;

    & span {

      font-weight: bold;
      font-size: 2rem;
    }
  }

  &__breadcrumb {
    margin-top: 1rem;
  }

  &__control {
    display: flex;
    height: 100%;
    @include absoluteCenter;

    &Button {
      width: 4rem;
      height: 4rem;
      background-color: rgba($primary-theme-color, 1);
      border: none;
      outline: none;
      border-radius: .5rem;
      box-shadow: $general-boxshadow;
      transition: all 100ms linear;

      &:first-of-type {
        margin-right: 1rem;
      }

      & a {
        font-size: 2rem;
        color: rgba($secondary-font-color, 1);
      }

      &:hover {
        background-color: darken(rgba($primary-theme-color, 1), 10%);

      }

      &:active {
        transform: translateY(.3rem);
        box-shadow: 0 .2rem .1rem rgba($primary-font-color, .4);
      }
    }
  }
}

.contentFilter {
  display: none;
  flex-direction: row;
  @include absoluteCenter;
  background-color: rgba($secondary-font-color, 1);
  box-shadow: $general-boxshadow;
  border-radius: 1rem;
  transform-origin: top;
  overflow: hidden;
  margin-left: 50%;
  transform: translateX(-50%);

  &__criteria {
    display: flex;
    flex-direction: row;
    margin: 0 2rem;

    & label {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      text-align: left;
      margin-right: 1rem;
    }

    & input {
      width: 14rem;
      height: 3rem;
      border: .1rem solid rgba($primary-font-color, .4);
      border-radius: .5rem;
      padding-left: .5rem;
      font-size: 1.4rem;
      transition: all 100ms linear;

      &:focus {
        outline: none;
        border: .1rem solid rgba($primary-theme-color, 1);
      }
    }
  }

  &--open {
    display: flex;
    animation: openFilter 300ms ease forwards;
    z-index: 0;

  }

  &--remove {
    animation: removeFilter 300ms ease-out forwards;
    z-index: 0;

  }
}

.contentFilter__criteria {
  & select {
    border: .1rem solid rgba($primary-font-color, .4);
    width: 14rem;
    height: 3.5rem;
    border-radius: .5rem;

    &:focus {
      outline: none;
    }
  }


}