.errorBackground {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.spaceBackground {
  width: 100%;
  height: 100%;
}

.spaceAstronaut {
  position: absolute;
  width: 15rem;
  height: 15rem;
  z-index: 1000;
  top: 0%;
  left: 0%;
  animation: fly 50s linear infinite;
}

.spacePlanetMars,
.spacePlanetJupiter {
  position: absolute;
  transition: all .5s ease-in-out;
  transform-style: preserve-3d;
  perspective: 1000rem;

  &::before,
  &::after {
    z-index: 100;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    animation: ripple-1 2s infinite ease-in-out;
  }

  &::after {
    animation: ripple-2 random(15)+s infinite ease-in-out;
    animation-delay: random(5000) +ms;
  }
}

.spacePlanetMars {
  & img {
    width: 8rem;
    height: 8rem;
  }

  animation: spin 20s linear infinite;
  top: 25%;
  right:55%;

  &::before,
  &::after {
    background-color: rgba(#bc2731, .4);
  }

  &::after {
    background-color: rgba(#bc2731, .2);
  }
}

.spacePlanetJupiter {
  & img {
    width: 20rem;
    height: 20rem;
  }

  animation: spinX 30s linear infinite;
  z-index: 950 !important;

  &::before,
  &::after {
    background-color: rgba(#E36E4B, .3);
  }

  &::after {
    background-color: rgba(#E36E4B, .5);
    animation-delay: random(100) +ms !important;
  }

  bottom: 20%;
  right:35%;
}

.spaceErrorCode {
  transform-style: preserve-3d;
  perspective: 1000rem;
  @include defaultFont;
  @include absoluteCenter;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 35%;
  letter-spacing: 1.2rem;
  color: $secondary-theme-color;
  font-size: 5rem;
  z-index: 100;

  & h1 {
    @include textShadow3D;
  }

  & p {
    font-size: 3rem;
    z-index: 250 !important;
    @include textShadow3D;
  }

  & div {
    display: flex;
    @include absoluteCenter;
    margin-top: 3rem;

    & button {
      background-color: transparent;
      outline: none;
      border: none;

      & a {
        @include defaultFont;
        display: flex;
        @include absoluteCenter;
        font-size: 1.5rem;
        width: 15rem;
        height: 5rem;
        margin: 2rem;
        border: none;
        outline: none;
        text-decoration: none;
        border-radius: 4rem;
        color: rgba($primary-font-color, 1);
        background-color: rgba($secondary-theme-color, 1);
        box-shadow: 3px 3px rgba(black, 0.5), 2px 2px rgba(black, 0.5),
          1px 1px rgba(black, 0.5);
        transition: all 100ms ease;
        backface-visibility: hidden;

        &:hover {
          transform: translateY(-0.2rem);
          box-shadow: 3px 4px rgba(black, 0.5), 1px 3px rgba(black, 0.5),
            1px 2px rgba(black, 0.5);
        }

        &:active {
          transform: translateY(0rem);
          box-shadow: 3px 2px rgba(black, 0.5), 1px 1.5px rgba(black, 0.5),
            1px 0px rgba(black, 0.5);
        }
      }
    }
  }
}