.breadcrumb {
    display: flex;
    list-style-type: none;

    &__item {
        display: flex;
        font-size: 1.3rem;

        &:not(:first-of-type) {
            &::before {
                content: '/';
                margin: 0 .5rem;
                color: rgba($primary-font-color, 1);
            }
        }

        & a {
            cursor: pointer;
            color: darken(rgba($primary-font-color, 1), 25%);
            text-decoration: none;
            font-weight: bold;
        }

        &--active {
            cursor:unset;
            & p{
                font-weight: 500;
                color: rgba($primary-font-color, 1);
            }
        }
    }
}