.card {
    display: flex;
    margin-bottom: 3rem;
    border-radius: 2rem;
    background-color: rgba($secondary-theme-color, 1);
    width: 25%;
    height: 17rem;
    box-shadow: $general-boxshadow;
    @include defaultFont;
    color: darken(rgba($primary-font-color, 1), 20%);

    &:nth-of-type(2) {
        margin: 0 2rem;
    }

    &:nth-of-type(3) {
        margin-right: 2rem;
    }

    &__body {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 1rem;
        padding-top: 2rem;
        padding-left: 2rem;

        &Header {
            display: flex;

            &Icon {
                display: flex;
                @include absoluteCenter;
                margin-right: 2rem;
                border-radius: 1rem;
                width: 6rem;
                height: 6rem;
                color: rgba($secondary-font-color, 1);
                text-align: center;

                &--1 {
                    background-color: rgba(#1B62CC, .5);
                }

                &--2 {
                    background-color: rgba(#22CC62, .5);
                }

                &--3 {
                    background-color: rgba(#ff2600, .5);
                }

                &--4 {
                    background-color: rgba(#ff00c8, .5);
                }


                & i {
                    padding: 1rem;
                    font-size: 3rem;
                }
            }

            &Count {
                font-size: 1.5rem;
                font-weight: 600;

                &--title {
                    letter-spacing: .1rem;
                }

                &--amount {
                    font-weight: 400;
                    font-size: 1.7rem;
                    color: darken(rgba($primary-font-color, 1), 20%);
                }
            }
        }

        &Content {
            background-color: rgba($primary-font-color, .1) !important;
            height: 1.2rem;
            margin: 2rem 0;
            background-color: transparent;
            border-radius: 5rem;
            overflow: hidden;
        }

        &Footer {
            display: flex;
            font-size: 1.2rem;

            &Status {
                margin-right: .4rem;

                &--good {
                    color: green;
                }

                &--bad {
                    color: red;
                }
            }

            &Period {
                font-weight: 600;
                color: rgba($primary-font-color, .6);
                letter-spacing: .1;
            }
        }
    }
}


.cardChart {
    display: flex;
    flex-direction: column;
    height: 50rem;

    &--1 {
        width: 60%;
    }

    &--2 {
        margin: 0 0 0 2rem !important;
        width: 40%;
    }

    &__header {
        display: flex;
        @include absoluteCenter;

        width: 100%;
        height: 8rem;
        border-bottom: .15rem solid rgba($primary-font-color, .1) !important;

        & h4 {
            margin-right: auto;
            margin-left: 2rem;
            font-size: 2rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        @include noSelect;

        &Summary {
            display: flex;
            width: 100%;
            @include noSelect;

            &--1 {
                margin-bottom: 2rem !important;

                & div:nth-of-type(1) {
                    color: rgba(blue, .8);
                }

                & div:nth-of-type(2) {
                    color: rgba(green, .8);
                }
            }

            &--2 {
                display: flex;
                @include absoluteCenter;
                margin-top: 2rem;

                & div {

                    margin: 2rem 1rem .5rem 1rem;
                    color: rgba($primary-font-color, .8);

                    & i {
                        margin-right: .2rem;
                    }

                    &:nth-of-type(2) {
                        & i {
                            color: rgba(32, 193, 176, 1);
                        }
                    }

                    &:nth-of-type(3) {
                        & i {
                            color: rgba(118, 56, 255, 1);
                        }
                    }

                    &:nth-of-type(4) {
                        & i {
                            color: rgba(26, 214, 23, 1);
                        }
                    }

                    &:nth-of-type(5) {
                        & i {
                            color: rgba(248, 101, 55, 1);
                        }
                    }

                    &:nth-of-type(6) {
                        & i {
                            color: rgba(207, 0, 15, 1);
                        }
                    }
                }

            }

            &Item {
                display: flex;
                flex-direction: column;

                &Title {
                    font-weight: 600;
                    font-size: 1.2rem;
                }

                &Amount {
                    display: flex;
                    justify-content: center;
                    font-size: 1.5rem;

                }

                &:not(:first-of-type) {
                    margin-left: 2rem;
                }

            }

        }

        &Chart {
            display: flex;
            flex-direction: column;
            height: 30rem;
            width: 100%;

            & canvas {
                max-width: 200rem !important;
                max-height: 100rem !important;
            }
        }
    }
}