.pageHeader {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  width: 99%;
  height: 6.5rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: rgba($secondary-theme-color, 1);
  box-shadow: $general-boxshadow;
  z-index: 10000;
}

.navbarBrand {
  display: flex;
  position: relative;
  align-items: center;
  border-top-right-radius: .2rem;
  border-bottom-right-radius: .2rem;

  &__logo,
  &__name {
    display: flex;
    @include absoluteCenter;
    height: 100%;
  }

  &__logo {
    margin: 0 .2rem 0 2rem;

    & img {
      width: 4.5rem;
    }
  }

  &__name {
    width: 15rem;
    margin: 0 1rem 0 1rem;
    transition: all 300ms linear;
    overflow: hidden;

    & img {
      width: 15rem;
    }

    &--collapsed {
      width: 0;

      & img {
        width: 0;
      }
    }
  }
}

.navbarUserMenu {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  @include defaultFont;

  & li {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    position: relative;
    cursor: pointer;

  }

  &__notification {
    position: relative;
    width: 5rem;
    display: flex;
    @include absoluteCenter;

    & i {
      font-size: 2rem;
      color: rgba($primary-font-color, .8);
    }

    &Badge {
      @include absoluteCenter;
      position: absolute;
      width: 2.5rem;
      height: 2.5rem;
      top: .5rem;
      left: 2.5rem;
      display: flex;
      background-color: rgba($primary-theme-color, .9);
      border-radius: 50%;
      font-size: 1.4rem;
      color: rgba($secondary-font-color, 1)
    }
  }

  &__userProfile {
    width: 20rem;
    display: flex;
    @include absoluteCenter;
    justify-content: space-evenly;

    & span {

      font-size: 1.3rem;
      color: rgba($primary-font-color, 1);
    }

    & i {
      font-size: 1.5rem;
    }
  }



}



.userProfileImage {
  display: flex;
  width: 4rem;
  height: 4rem;

}




.userControl {
  top: 6.9rem;
  width: 20.5rem;
  left: -.5rem;
  overflow: hidden;

  & a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 4rem;
    color: darken(rgba($primary-font-color, 1), 10%);
    transition: all 100ms linear;

    &:not(:last-of-type) {
      border-bottom: .1rem solid rgba($primary-font-color, .5);
    }

    &:hover {
      background-color: rgba($primary-theme-color, .8);
      color: rgba($secondary-font-color, 1);
    }

    & i {
      text-align: left;
      font-size: 2.3rem;
      width: 3rem;

      margin-left: 2rem;
    }

    & span {
      font-size: 1.2rem;
    }
  }

}
