//THEME COLOR

//FONT COLOR
$primary-font-color: #434343;
//OVERLAY COLOR:

//CARD COLOR:
$primary-card-color:#FFFFFF;

//SHADOW
$general-boxshadow: rgba(0, 0, 0, 0.16) 0 .3rem .6rem,
rgba(0, 0, 0, 0.23) 0 .3rem .6rem;