.deleteAccount__Form {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    margin-left: 2rem;

    & p {
        margin-top: 1rem;
    }

    & div {
        display: flex;
        margin-top: 1.5rem;
        width: 100%;
        align-items: center;
        & input {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 1rem;
        }
        & label{
            color: red;
        }
    }
}
.deleteAccount__FormSubmitButton{
    margin-left: auto;
    margin-right: 2rem;
    margin-bottom: 2rem;
}