.table__contentInvoiceBody {
    & tr {
        & td {
            &:nth-of-type(6) {
                width: 100%;
                height: 8rem;
                display: flex;
                justify-content: center !important;
                text-align: center !important;
                align-items: center !important;
            }

            &:nth-of-type(8) {
                position: relative;
                color: rgba($primary-font-color, 1);

                & div {
                    width: 15rem;
                    left: -8rem;
                    top: 5rem;
                }
            }
        }
    }
}
.contentHeader__invoiceTitle{
    margin-bottom: 2rem;
}

.contentFilter__invoice{
    padding: 0 !important;
    margin: 0rem 0 0 10% !important;
    transform: translate(0) !important;
}