.userProfileImage--large {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
}

.profileContent__request {
    margin-left: auto;

}

.profileContent__requestButton {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 16rem;
    height: 5rem;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    border: none;
    outline: none;
    border-radius: .5rem;
    background-color: rgba($primary-theme-color, .9);
    background-size: 200%;
    box-shadow: $general-boxshadow;
    transition: all 100ms ease-in-out;

    &:hover {
        background-color: rgba($primary-theme-color, 1);
        transform: translateY(-.2rem);
    }

    &:active {
        transform: translateY(0rem);
    }

    & a {
        color: rgba($secondary-font-color, 1);
        font-weight: bold;
        text-decoration: none;
        padding: .5rem;
        display: flex;
        width: 100%;
        height: 100%;
        @include absoluteCenter;
        position: absolute;
        transition: all 200ms ease-in;

        &:nth-of-type(2) {
            transform: translateY(100%);
        }
    }

    &--active {
        & a:nth-of-type(1) {
            transform: translateY(-100%);
        }

        & a:nth-of-type(2) {
            transform: translateY(0%);
        }
    }

}


.profileHeader {
    display: flex;
    width: 100%;
    flex-direction: column;
    @include absoluteCenter;

    &__image {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 15rem;
        background-image: url('/src/img/profile_background.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 1rem;
        box-shadow: $general-boxshadow;
        margin-bottom: 5rem;
        z-index: 1;

        & img {
            margin-top: 8rem;
            border: .5rem solid white;
        }
    }

    &__name {
        @include defaultFont;
        display: flex;
        font-size: 3rem;
    }

    &__generalInfo {
        display: flex;

        & div {
            margin: 1rem;
            font-size: 1.4rem;
        }
    }

}

.profileContent {
    display: flex;
    width: 100%;
    padding: 5rem;

    &__detail {
        display: flex;
        width: 20%;
        flex-direction: column;
        margin-right: 4rem;
        max-height: 65.6rem;

        & span {
            font-size: 1.5rem;

            &:last-of-type {
                margin-left: .5rem;
            }
        }

    }

    &__completion {
        width: 100%;
        height: 10rem;
        padding: 2rem;
        border-radius: 1rem;
        background-color: rgba($secondary-theme-color, 1);
        box-shadow: $general-boxshadow;
        margin-bottom: 2rem;
    }

    &__progressBar {
        background-color: rgba($primary-font-color, .1) !important;
        height: 1.2rem;
        margin: 1rem 0;
        background-color: transparent;
        border-radius: 5rem;
        overflow: hidden;
        box-shadow: $general-boxshadow;

        &--percentage {
            & div {
                background-color: rgba($primary-theme-color, 1);
            }
        }
    }

    &__personalInfo {
        display: flex;
        width: 100%;
        flex-direction: column;
        background-color: rgba($secondary-theme-color, 1);
        border-radius: 1rem;
        box-shadow: $general-boxshadow;


        &Header {
            display: flex;
            width: 100%;
            height: auto;
            border-bottom: .1rem solid rgba($primary-font-color, .1);
            padding: 1rem;
            justify-content: center;
            align-items: center;

            &>span {
                font-size: 1.8rem;
            }

            & button {
                margin-left: auto;
                background-color: transparent;
                border: .1rem solid rgba($primary-font-color, 1);
                width: 10rem;
                height: 3rem;
                border-radius: .5rem;
                display: flex;

                & a {
                    display: flex;
                    @include absoluteCenter;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    color: rgba($primary-font-color, .8);
                    font-weight: bold;
                    transition: all 300ms linear;
                    border-radius: .4rem;

                    & i {
                        margin-right: 1rem;
                    }

                    &:hover {
                        background-color: rgba($primary-theme-color, 1);
                        color: rgba($secondary-font-color, 1);
                    }

                    &:hover>i {
                        animation: writingPencil 2000ms ease-in-out infinite;
                    }
                }

            }
        }

        &Body {
            display: flex;
            flex-direction: column;
            padding: 1.5rem;
            height: 48.5rem;
        }

        &Item {
            & h2 {
                font-style: italic;
                color: rgba($primary-font-color, .8)
            }

            margin-left: 1rem;

            & div {
                margin: 2rem 0;
                width: 100%;
                color: rgba($primary-font-color, 1);

                & div {
                    display: flex;

                    & span {
                        &:nth-of-type(1) {
                            width: 7rem !important;
                            font-weight: bold;
                        }
                    }

                }

                & span {
                    font-style: italic;
                }
            }
        }
    }

    &__history {
        display: flex;
        flex-direction: column;
        background-color: rgba($secondary-theme-color, 1);
        width: 70%;
        height: 65.6rem;
        border-radius: 1rem;
        box-shadow: $general-boxshadow;

        &Header {
            display: flex;
            @include absoluteCenter;
            width: 100%;
            height: 10rem;
            padding: 4rem;

            border-bottom: .1rem solid rgba($primary-font-color, .1);

            & h2 {
                font-size: 1.8rem;
                font-weight: 500;
            }
        }

        &Activities {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            padding-left: 4rem;
            padding-top: 4rem;
        }
    }
}

.historyActivities {
    list-style-type: none;
    width: 100%;
}