.generalButton {
  width: 16rem;
  height: 4.2rem;
  position: relative;
  font-size: 1.2rem;
  border-radius: 2rem;
  border: none;
  background-color: transparent;
  border: 0.3rem solid rgba($primary-font-color, 1);
  color: $primary-font-color;
  font-weight: bold;
  padding: 1.2rem 4.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin: 2rem;
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform 500ms ease-in;
  overflow: hidden;
  @include noSelect;
  &:focus {
    outline: none;
  }
  &:active {
    transition: transform 500ms ease-in;
    transform: translateY(0.2rem);
  }
  &--empty {
    cursor: pointer;
    background-color: transparent !important;
    border-color: $secondary-theme-color !important;
    color: rgba($secondary-font-color, 1) !important;
    border: 0.2rem solid;
    vertical-align: middle;
    transform: perspective(0.1rem) translateZ(0);
    animation: hovering 1.5s ease infinite;
  }
  &--active {
    cursor: pointer;
    border: none !important;
    border-radius: 5rem;
    background-image: linear-gradient(
      90deg,
      transparent 0%,
      $secondary-overlay-color 50%,
      $primary-overlay-color 50%
    ) !important;
    background-size: 220% !important;
    transition: all 0.2s ease-in-out;
    animation: fillButton 350ms 100ms forwards;
    backface-visibility: hidden;
  }
}
