.message {
  @include defaultFont;
  @include absoluteCenter;
  display: flex;
  position: absolute;
  top: -5rem;
  height: 5rem;
  background-color: darken(rgba($primary-font-color, 0.5), 50%);
  border-radius: .4rem;
  transition: all 0.2s ease-in-out;
  & p {
    padding: 2rem 1rem;
    font-size: 1.2rem !important;
    color: $secondary-font-color;
  }
  &--error {
    background-color: darken(rgba($primary-font-color, 0.8), 50%);
    & p {
      color: #ff0000;
    }
  }
  &--success {
    background-color: darken(rgba($primary-font-color, 0.8), 50%);
    & p {
      color: #11c711;
    }
  }
  &--active {
    animation: messageShown 0.2s ease-in forwards;
  }
  &--remove {
    animation: messageRemove 0.2s ease-in forwards;
  }
}
.errorMessage {
  display: none !important;
  letter-spacing: none !important;
  margin: 0 !important;
  font-size: 1rem !important;
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100%;
  transition: all .2s ease-in !important;
  &--shown {
    display: flex !important;
  }
  &--error {
    color: #ff0000;
  }
}
