@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 15em) {
      @content;
    }
  }
  @if $breakpoint == phoneMedium {
    @media (max-width: 20em) {
      @content;
    }
  }
  @if $breakpoint == phoneLarge {
    @media (max-width: 27em) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media (max-width: 48em) {
      @content;
    }
  }
  @if $breakpoint == laptop {
    @media (max-width: 64em) {
      @content;
    }
  }
  @if $breakpoint == laptopLarge {
    @media (max-width: 90em) {
      @content;
    }
  }
  @if $breakpoint == largeScreen {
    @media (min-width: 120em) {
      @content;
    }
  }
}
@mixin absoluteCenter {
  justify-content: center;
  align-items: center;
  text-align: center;
}
@mixin textShadow3D {
  text-shadow: 0px 0px 0 rgb(18, 18, 18), 1px 1px 0 rgb(-25, -25, -25),
    2px 2px 0 rgb(-67, -67, -67), 3px 3px 0 rgb(-110, -110, -110),
    4px 4px 0 rgb(-152, -152, -152), 5px 5px 0 rgb(-195, -195, -195),
    6px 6px 0 rgb(-237, -237, -237), 7px 7px 6px rgba(0, 0, 0, 0.1),
    7px 7px 1px rgba(0, 0, 0, 0.5), 0px 0px 6px rgba(0, 0, 0, 0.2);
}
@mixin defaultFont {
  font-family: "Poppins", sans-serif;
}
@mixin noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
} ;
