header(class="pageHeader")
    div(class="navbarBrand")
        div(class="navbarBrand__logo")
            a(href="/")
                img(src="/img/orange_logo.png" alt="logo")
        div(class="navbarBrand__name navbarBrand__name--collapsed")
            img(src="/img/superfuel_brand_orange.png" alt="brand")
    div(class="navbarToggleBtn" id="navbarToggleBtn")
        div(class="hamburger" id="hamburger")
            span
            span
            span
    ul(class="navbarUserMenu")
        include _notification
        li
            div(class="dropdownToggle navbarUserMenu__userProfile")
                if user
                    img(class="userProfileImage" src=`${user.photo_url}` alt="user_profile_image")
                    span=`${user.first_name} ${user.last_name}`
                i(class="fas fa-chevron-down dropdownToggle__button")
            div(class="dropdownMenu userControl")
                a(href="/user/profile" class="dropdownMenu__links" title="profile" data-page="profile")
                    i(class="fas fa-id-badge")
                    span Profile
                a(href="/user/settings" class="dropdownMenu__links" title="settings" data-page="settings")
                    i(class="fas fa-cog")
                    span Settings
                a(class="dropdownMenu__links" id="logoutButton")
                    i(class="fas fa-sign-out-alt")
                    span Sign out

