li
    div(class="dropdownToggle navbarUserMenu__notification")
        i(class="far fa-bell")
        span(class="navbarUserMenu__notificationBadge") 0
    div(class="dropdownMenu notifications")
        div(class="notifications__header")
            span Notifications
            a(id="clearNotificationBtn") Clear All
        ul(class="notifications__list")
            //- li(class="notifications__list--message")
            //-     a(href="/activities")
            //-         div(class="notificationContent")
            //-             span(class="notificationContent__avatar")
            //-                 img(src="/img/user_profile.jpg" alt="avatar")
            //-             div(class="notificationContent__body")
            //-                 p(class="notificationContent__details")
            //-                     span  Barbara Moore 
            //-                     span paid the invoice
            //-                     span #ABC123456789
            //-                 p(class="notificationContent__time")
            //-                     span 10 minutes ago
        div(class="notifications__footer")
            a(href="/activities") View all Notifications