div(class="sidebar")
    ul(class="sidebarMenu sidebarMenu--collapsed")
        li(class=" sidebarMenu__items sidebarMenu__items--title")
            span Main
        li(class="sidebarMenu__items")
            a(href="/dashboard" title="dashboard" data-page="dashboard")
                <i class="far fa-chart-bar"></i>
                <span>Dashboard</span>
        li(class="sidebarMenu__items")
            a(href="/customers" title="customers" data-page="customers")
                i(class="fas fa-user-friends")
                span Customers
        li(class="sidebarMenu__items")
            a(href="/quotes" title="quotes" data-page="quotes")
                i(class="fas fa-file-alt")
                span Quotes
        li(class="sidebarMenu__items")
            a(href="/invoices" title="invoices" data-page="invoices")
                i(class="fas fa-file-invoice-dollar")
                span Invoices

        li(class="sidebarMenu__items")
            a(href="/payments" title="payments" data-page="payments")
                i(class="far fa-credit-card")
                span Payments
        li(class="sidebarMenu__items")
            a(href="/users" title="users" data-page="users")
                i(class="fas fa-user")
                span Users
        li(class="sidebarMenu__items sidebarMenu__items--title")
            <span>Personals
        li(class="sidebarMenu__items")
            a(href="/user/profile" title="profile" data-page="profile")
                i(class="fas fa-id-badge")
                span Profile
        li(class="sidebarMenu__items")
            a(href="/user/settings" title="settings" data-page="settings")
                i(class="fas fa-cog")
                span Settings

