doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="author" content="Group 6")
        meta(name="keywords" content="HTML, CSS, JavaScript, SuperFuel, Project")
        link(rel="stylesheet" href="/css/styles.css")
        link(rel="shortcut icon" href="/img/logo.png" type="image/x-icon")
        script(src="https://kit.fontawesome.com/75996eaab7.js" crossorigin="anonymous")
        script(type="module" defer src="/js/index.js")
        title #{title}
block content