extends base

block content
    body
        div(class="pageWrapper")
            include _header
            div(class="pageContent")
                include _sidebar
                div(class="content content--active" id="settings")
                    div(class="contentHeader")
                        div(class="contentHeader__title")
                            span Settings
                            div(class="contentHeader__breadcrumb")
                                ul(class="breadcrumb")
                                    li(class="breadcrumb__item")
                                        a(href="/dashboard") Dashboard
                                    li(class="breadcrumb__item breadcrumb__item--active")
                                        p Profile Settings
                    div(class="accountSettings")
                        div(class="accountSettings__menu")
                            ul
                                li(class="accountSettings__menuItem")
                                    a(href="/user/settings")  Profile Information
                                        i(class="fas fa-user-cog")
                                li(class="accountSettings__menuItem accountSettings__menuItem--active")
                                    a(href="/user/change_password") Change Password
                                        i(class="fas fa-unlock-alt") 
                                li(class="accountSettings__menuItem")
                                    a(href="/user/delete_account") Delete Account
                                        i(class="fas fa-ban") 
                        div(class="accountSettings__component")
                            div(class="accountSettings__componentHeader")
                                span Change Password
                            form(class="changePassword__Form")
                                div(class="changePassword__FormItem")
                                    label(for="currentUserPassword") Current Password
                                    input(placeholder="Enter Current Password" type="password" name="currentUserPassword" id="currentUserPassword")

                                div(class="changePassword__FormItem")
                                    label(for="newUserPassword") New Password
                                    input(placeholder="Enter New Password" type="password" name="newUserPassword" id="newUserPassword")

                                div(class="changePassword__FormItem")
                                    label(for="newUserPasswordConfirm") New Password Confirm
                                    input(placeholder="Confirm Your New Password" type="password" name="newUserPasswordConfirm" id="newUserPasswordConfirm")
                                div(class="changePassword__FormItem")
                                    h3 Password requirements:
                                    div(class="changePassword__requirement")
                                        span(class="changePassword__requirementCriteria")
                                            i(class="fas fa-times-circle")
                                            p The password is at least 8 characters long 
                                        span(class="changePassword__requirementCriteria")
                                            i(class="fas fa-times-circle")
                                            p The password has at least one uppercase letter 
                                        span(class="changePassword__requirementCriteria")
                                            i(class="fas fa-times-circle")
                                            p The password has at least one lowercase letter 
                                        span(class="changePassword__requirementCriteria")
                                            i(class="fas fa-times-circle")
                                            p The password has at least one digit 
                                        span(class="changePassword__requirementCriteria")
                                            i(class="fas fa-times-circle")
                                            p The password has at least one special character 
                                        span(class="changePassword__requirementCriteria")
                                            i(class="fas fa-times-circle")
                                            p The password has no blank spaces 
                                div(class="accountSettings__FormGroup")
                                    button(class="accountSettings__FormGroupSubmitButton changePassword__FormItemSubmitButton" type="submit" id="updateNewPassword") Save Changes