extends base

block content
    body
    div(class="errorBackground")
        img(src="img/space.jpg" alt="background" class="spaceBackground")
        img(src="img/astronaut.png" alt="astronaut" class="spaceAstronaut")
        div(class="spacePlanetMars")
            img(src="img/mars.png" alt="planets")
        div(class="spacePlanetJupiter")
            img(src="img/jupiter.png" alt="planets")
        div(class="spaceErrorCode")
            h1(class="spaceErrorCode__text") #{statusCode}!
            p Opss!
            p #{message}
            div
                button
                    a(href="/" id="errorPageGoBack") Go Back

    
