*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    @include defaultFont;
    color: rgba($primary-font-color, 1);

    @include responsive(phone) {
        font-size: 10%;
    }

    @include responsive(tablet) {
        font-size: 30%;
    }

    @include responsive(laptopLarge) {
        font-size: 50%;
    }
}

::selection {
    //Selection color and style
    @include defaultFont;
}