.table {

    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    box-shadow: $general-boxshadow;
    border-radius: 1rem;

    &__header,
    &__footer {
        display: flex;
        width: 100%;
        height: 8rem;
        align-items: center;
        padding-left: 2rem;
        background-color: rgba($secondary-theme-color, 1);
        font-size: 1.2rem;
    }

    &__header {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        & select {
            width: 5rem;
            height: 3rem;
            border: .1rem solid rgba($primary-font-color, .2);
            border-radius: .5rem;

            &:focus,
            &:active {
                outline: none;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
            }
        }
    }

    &__footer {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        height: 8rem;

        &Data {
            display: flex;
            margin-right: auto;
            @include absoluteCenter;

            & span:not(:first-of-type) {
                margin: .2rem;
            }

        }
    }

    &__content {
        & table {
            width: 100%;
            border-collapse: collapse;

            & thead {

                & th {
                    font-weight: 600;
                    font-size: 1.3rem;
                    height: 5rem;
                    color: darken(rgba($primary-font-color, 1), 30%);
                    background-color: rgba($primary-font-color, .2);


                }
            }
        }

        &Body {
            background-color: rgba($secondary-theme-color, 1);

            & tr {
                height: 8rem;
                transition: all 100ms ease-in-out;
                text-align: center;

                &:hover {
                    background-color: lighten(rgba($primary-font-color, .1), 20%);
                }
            }

            & td {
                padding-left: 2rem;
                font-size: 1.5rem;
            }
        }


    }
}